{% extends "base.html.twig" %}

{% block title %}AppBundle:TestController:test{% endblock %}

{% block body %}
<h1>Welcome to the Symphony Form</h1>
    <div class="container">
    {{ form(output_form) }}
    </div>
{% endblock %}
