{% extends "base.html.twig" %}
{% block title %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <h1>Update Country Form</h1>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                {{ form_start(update_form) }}
                {{ form_widget(update_form) }}
                {{ form_end(update_form) }}
            </div>
        </div>
    </div>
{% endblock %}